<% include partials/header %>
<div class='header'>
    <div class='header__text-box'>
<h1 class='heading-primary'>
    <span class="heading-primary--main ">Landing Page</span>
    <span class="heading-primary--sub ">Welcome to our housing company
    </span>
</h1>



<a href="/campgrounds" class="btn btn--white btn--animated" >View All Available Offers</a>
</div>
</div>
<% include partials/footer %>