<% include ./partials/header %> 
<!-- <h1>Sign Up!</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>
</form> -->




<div class='login-container'>
        <div class='wrap-login'>
            <div class='left-container'>
                     </div>
          
                <div class="abc">
                    <form action="/register" method="POST" class='login100-form'>
                        <span class='login-title'>Sign up</span>
        
                        <div class='wrap-input100'>
                            <input type="text" name="username" placeholder="username" class='input100'>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>
                        </div>
                        <div class='wrap-input100'>
        
                        <input type="password" name="password" placeholder="password" class='input100'>
                        <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>						</span>
                        </div>
                        <div class='container-login100-form-btn'>
                            <input type="submit" value="Sign up" class='login100-form-btn'>
                        </div> 
                        <p>Already have an account!</p> 
                        <a href='/login'>Sign in now</a>              
                    </form>
                </div>
           
        </div>
    </div>
<% include ./partials/footer %> 
